# macOS files
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data folders (to avoid uploading large datasets)
data_processed/
data_raw/

# Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
.env/
